@import url('https://fonts.cdnfonts.com/css/earth-orbiter');  /*Fonte*/           

:root { /*Principais cores do site*/
    --cinza: #b7b2b2;
    --vermelho: #ff0019;
    --branco: #ffffff;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align: justify;
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
header .Header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .Titulo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Earth Orbiter', impact;
    font-size: 40px;
}

header nav a { 
    font-family: 'Earth Orbiter', impact;
    font-size: 20px;
    text-decoration:none;
    color: var(--cinza);
    margin-right: 10px;
}


header nav a:hover {
    color: var(--vermelho);
}

h2{
    font-family: 'Earth Orbiter', impact;
    font-size: 40px;
    font-weight: 900;
    color: #000;
    text-align: justify;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    
}

section.content p{
    float:initial;
    text-align: justify;
    margin-bottom: 40px;
}
  
section.content:last-child{
    margin-bottom: 0;
}
  
section.content h2{
    margin-bottom: 40px;
    font-size: 30px;
}
  
section.content.content{
   padding: 40px 0;
   background: var(--branco); 
}

section.module{
    font-family: 'Earth Orbiter', impact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

section.module.parallax-1{
    background-image: url("../img/historia/1914.jpeg");
}
  
section.module.parallax-2{
    background-image: url("../img/historia/1918.jpeg");
}

section.module.parallax-3{
    background-image: url("../img/historia/1929.jpeg");
}
  
section.module.parallax-4{
    background-image: url("../img/historia/1930.jpeg");
}

section.module.parallax-5{
    background-image: url("../img/historia/1950.jpeg");
}
  
section.module.parallax-6{
    background-image: url("../img/historia/1951.png");
}

section.module.parallax-7{
    background-image: url("../img/historia/1968.jpeg");
}
  
section.module.parallax-8{
    background-image: url("../img/historia/1976.jpeg");
}

section.module.parallax-9{
    background-image: url("../img/historia/1977.jpeg");
}
  
section.module.parallax-10{
    background-image: url("../img/historia/1982.webp");
}

section.module.parallax-11{
    background-image: url("../img/historia/1990.jpeg");
}
  
section.module.parallax-12{
    background-image: url("../img/historia/1998.jpg");
}

section.module.parallax-13{
    background-image: url("../img/historia/2000.jpeg");
}
  
section.module.parallax-14{
    background-image: url("../img/historia/2005.jpeg");
}

section.module.parallax-15{
    background-image: url("../img/historia/2007.jpeg");
}

section.module.parallax-16{
    background-image: url("../img/historia/2008.jpg");
}
  
section.module.parallax-17{
    background-image: url("../img/historia/2009.jpeg");
}

section.module.parallax-18{
    background-image: url("../img/historia/2010.jpeg");
}

section.module.parallax-19{
    background-image: url("../img/historia/2012.jpeg");
}
  
section.module.parallax-20{
    background-image: url("../img/historia/2015.jpg");
}

section.module.parallax-21{
    background-image: url("../img/historia/2017.jpeg");
}
  
section.module.parallax-22{
    background-image: url("../img/historia/2022.webp");
}

section.module h1{
    color: var(--branco);
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}
  
@media all and (max-width: 820px) {
    section.module h2 {
      font-size: 32px;
    }
    .module h2, p{
      padding: 0 8px;
    }
  
    .container{
      margin:0;
      padding:0;
    }
  
    section.module h1 {
      font-size: 36px;
    }
}

.box-content {
    margin-top: 25px;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
}